#circle {
    height: 150px;
    width: 150px;
    border-radius:  50%;
    background-color: yellow;
}

.square {
    height: 150px;
    width: 150px;
    background-color: green;
    margin: 10px;;
}
P {
    font-size: 2rem;
}